body {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  
}

.form-inline{
  margin: 0px auto !important;
}

.jumbotron{
  background-color: rgb(34, 20, 92);
}



